
<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="website/Common/layout::frag1"></head>
<body>
	<header th:replace="website/Common/layout::frag2"> </header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="relative about-banner">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">Contact Us</h1>
					<p class="text-white link-nav">
						<a href="/home">Home </a> <span class="lnr lnr-arrow-right"></span>
						<a> Contact Us</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start contact-page Area -->
	<section class="contact-page-area section-gap">
		<div class="container">
			<div class="row">

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.152936492406!2d73.76253221481541!3d18.65713188732966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b94df1eecb2b%3A0x2416a05fa66b065b!2sEzio%20Infotech%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1665051446953!5m2!1sen!2sin"
					width="1000" height="450" style="border: 0;" allowfullscreen=""
					loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


				<br> <br>
				<div class="col-lg-4 d-flex flex-column address-wrap"
					style="padding: 80px">
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-home"></span>
						</div>
						<div class="contact-details">
							<h5>Spiritual Traveller</h5>
							<p>Big India Chowk ,Nigdi</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-phone-handset"></span>
						</div>
						<div class="contact-details">
							<a href="tel:8482852410"><h5>8482852410</h5></a>
							<p>Mon to Fri 9am to 6 pm</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-envelope"></span>
						</div>
						<a href="mailto:spiritualtraveller21@gmail.com">
							<div class="contact-details">
								<h5>spiritualtraveller21@gmail.com</h5>
						</a>
						<p>Send us your query anytime!</p>
					</div>

				</div>
			</div>





			<!-- <div class="col-lg-8">
							<form class="form-area contact-form text-right" id="myForm" action="mail.php" method="post">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required=""></textarea>				
									</div>
									<div class="col-lg-12">
										<div class="alert-msg" style="text-align: left;"></div>
										<button class="genric-btn primary" style="float: right;">Send Message</button>											
									</div>
								</div>
							</form>	
						</div> -->
		</div>
		</div>
	</section>
	<!-- End contact-page Area -->

	<!-- start footer Area -->
	<footer th:replace="website/Common/layout::frag3"></footer>
</body>
</html>